{erl_opts, [debug_info]}.

{deps, [
    {lfe, "2.1.1"}
]}.

{plugins, [
    {rebar3_lfe,
	{git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.4.x"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [bananarama]}
]}.
